{% extends "base.html" %}

{% block site_meta %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Teaching Documentation",
    "@id": "https://github.com/PhanuLab/phanulab.github.io",
    "http://purl.org/dc/terms/conformsTo": {
        "@type": "CreativeWork",
        "@id": "https://bioschemas.org/profiles/TrainingMaterial/1.0-RELEASE"
    },
    "description": "Forked Handbook for making training materials FAIR",
    "keywords": "FAIR, OPEN, Bioinformatics, Teaching, Train-the-trainer",
    "name": "SSRUCS PhanuLab: Everyday CS Learning Portal",
    "license": "https://creativecommons.org/licenses/by/4.0/"
}
</script>
{% endblock %}
